<html>
<head>
	<script type="text/javascript">
		function alertaOrdenNoPendiente(){
			alert('Esta orden ya no se encuentra en estado pendiente debido a que ya ha sido aceptada o cancelada.');
		}
	</script>
</head>
<body>
	<div>
		<script type="text/javascript">alertaOrdenNoPendiente()</script>
	</div>
</body>
</html>