<html>
<head>
	<script type="text/javascript">
		function alertaFechasInvalidas(){
			alert('Ingrese fechas validas e intente nuevamente.');
		}
	</script>
</head>
<body>
	<div>
		<script type="text/javascript">alertaFechasInvalidas()</script>
	</div>
</body>
</html>