<html>
<head>
	<script type="text/javascript">
		function alertaStockInsuficiente(){
			alert('Cantidad de stock insuficiente');
		}
	</script>
</head>
<body>
	<div>
		<script type="text/javascript">alertaStockInsuficiente()</script>
	</div>
</body>
</html>