<html>
<head>
	<script type="text/javascript">
		function alertaLoginInvalido(){
			alert('Operacion invalida. Puede que usted aun no se encuentre habilitado o que los datos ingresados no sean correctos.');
		}
	</script>
</head>
<body>
	<div>
		<script type="text/javascript">alertaLoginInvalido()</script>
	</div>
</body>
</html>