<html>
<head>
	<script type="text/javascript">
		function alertaNoDeleble(){
			alert('Esta operacion no puede ser realizada ya que existen compras o ventas asociadas.');
		}
	</script>
</head>
<body>
	<div>
		<script type="text/javascript">alertaNoDeleble()</script>
	</div>
</body>
</html>