<html>
<head>
	<script type="text/javascript">
		function alertaOperacionExitosa(){
			alert('La operacion ha sido realizada con exito.');
		}
	</script>
</head>
<body>
	<div>
		<script type="text/javascript">alertaOperacionExitosa()</script>
	</div>
</body>
</html>