<html>
<head>
	<script type="text/javascript">
		function alertaToken(){
			alert('Se detecto un problema de autenticacion. Por favor intente nuevamente.');
		}
	</script>
</head>
<body>
	<div>
		<script type="text/javascript">alertaToken()</script>
	</div>
</body>
</html>