<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Buffet Virtual</title>	<!--TEXTO EN PESTAÑA-->
		<link rel="stylesheet" type="text/css" href="css/index.css">	<!--LINK A LA HOJA DE ESTILO-->
		<link rel="stylesheet" type="text/css" href="css/layout.css">	<!--LINK A LA HOJA DE ESTILO-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
	</head>
	<body>
		<div class="header">
			<h1><img src="images/logo.jpg" alt="Buffet Virtual - Facultad de Informatica"></h1>	<!--TITULO PRINCIPAL-->
		</div>
		<div class="topnav">
			{% include 'navbar_top.html.twig' %}
		</div>
			<img id="mantenimiento" src="images/error_unknown.png" alt="Error inesperado">
		<footer>	<!--FOOTER-->
			<p>Grupo 27 - Proyecto de Software - Facultad de Informatica UNLP</p>
	<!-- 		  	<p>Email de contacto: <a href="mailto:cdlv@gmail.com"> cdlv@gmail.com</a></p>-->		
		</footer>
	</body>
</html>